*{
    color:red;
    
}
.parableu{
    color:blue;
    background-color: rgba(255,0,0,0.5);
}
#parared{
    color:red;
    opacity: 0.3;
}
.bleu{
    color:bleu;
}
p.vert{
    color:green;
    text-align: right;

}
.vt{
    color: green;
    
}
.bord{
    border: 1px solid green;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    color:green;
    text-decoration: underline;
}
a:visited{
    color:gray;
    
}