
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
*{
    color:red;
    
}

@media screen and (max-width: 767 px){
    
}
.parableu{
    color:blue;
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    font-size: 200%;
    /*background-color: rgba(255,0,0,0.2);
    opacity: 0.3;*/
    border:15px solid blueviolet;
    
}
#parared{
    color:red;
    opacity: 0.3;
}
.bleu{
    color:bleu;
}
p.vert{
    color:green;
    text-align: right;

}
.vt{
    color: green;
    
}
.bord{
    border: 1px solid green;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    color:green;
    text-decoration: underline;
}
a:visited{
    color:gray;
    
}
html{
   /* background-color: rgba(255,0,0,0.2);*/
   background-image: url(../images/téléchargement.jpg);
}
/*ul{
    list-style-image: url(../images/back.jpg);
}
just trying it
*/


